body {
    background-image: url("../img/backgroun3.jpg");
    background-color: #1a1c24;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #000000b5;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
}

.login-form {
    width: 350px;
}

.register {
    color: #ffffff; /* Color gris oscuro */
  }

.no-link {
    color: #5865F2;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #575B61;
    border-radius: 5px;
    background-color: #36393f;
    color: white;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #7289DA;
}

button {
    background-color: #5865F2;
    color: white;
    margin-top: 10px ;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 106%;
}

button:hover {
    background-color: #4C57F2;
}

.logo {
    width: 300px;
    text-align: center;
}

.logo img {
    height: 200px;
    width: 270px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 40px;
    padding: 30px;
}
